<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>More Movies</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/movie/add">Add a Movie</a>
      </nav>
    </header>
    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
